:root{
    --txt-black:#000;
    --main-bg: #1886EB;
    --txt-white: #fff;
}
.container {
    max-width: 1180px;
    margin: auto;
    padding: 0 10px;
}

.header { background: var(--main-bg); width: 100%; }

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu { display: none; }

li { list-style: none; padding: 0 10px; }

a {
    text-decoration: none;
    color: var(--txt-white);
    font-size: 20px;
}

.btn {
    border: none;
    background: transparent;
    color: var(--txt-white);
    font-size: 20px;
}

.imgBox {
    position: relative;
    padding: 20px 0 0 20px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.desc {
    position: absolute;
    bottom: -50px;
    left: 10px;
    margin: 0 0 20px 0;
    width: 90%;
}

#name { font-weight: 600; font-size: 26px; }

.info {
    width: 90%;
    margin: 0 10px;
    color: var(--txt-black);
    font-size: 20px;
}

.status { font-size: 16px; }

.status::before {
    content: '';
    display: inline-block;
    background: #00FF38;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px 0 0;
}

.imgBox img {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}
h1 { font-size: 38px; color: var(--txt-white); }
h2, h3, h4, p{ color: var(--txt-black);}
h4 { font-size: 24px; }
h5 { font-size: 26px; }
p { font-size: 18px; }

.rating {
    display: flex;
    justify-content: end;
    align-items: center;
}
.rating li{ padding: 0 5px !important;}
#ceo{ text-align: center; }
#ceo img { border-radius: 8px; }
#ceo .info { width: 100%; }

.contact p { font-size: 20px; }

.contact a { color: var(--txt-black);   display: inline-block; }

.d-flex-desktop { display: block; }

@media (min-width: 768px) {
    .menu { display: block;  } 

    .desc { left: 150px; width: 70%; }

    .d-flex-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #ceo .info { margin: 0 40px; width: 40%; }
}